@import url("global.css");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-background);
    padding-top: 8%;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    background-color: var(--color-header);

    height: 8%;
    width: 100%;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    width: 95%;

}

/* .faq-box
{
    background-color: var(--color-secundary);
    width: 55px;
    height: 25px;
    align-items: center;
    text-align: center;    
    margin-top: 10px;
} */

.faq-text
{
    background-color: var(--color-secundary);
    padding: 10px 10px 0 5px;
}

h2 {
    color: var(--color-secundary);
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.header-icons {
    display: flex;
    flex-direction: row;

    height: 80%;

    align-items: self-end;
    gap: 20px;
}

.hlink {
    text-decoration: none;
    color: var(--color-terceary);

    font-size: large;
    font-weight: 500;
}

.wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

#start {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#stack {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#stack2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#faq {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;

    background-color: var(--color-terceary);
    color: var(--color-background);
    height: 90vh;
    width: 100%;
}