@import url("global.css");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-background);
    padding-top: 8%;
}

body::-webkit-scrollbar{
    display: none;
}

header {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    background-color: var(--color-header);

    height: 8%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

#start {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#stack {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#stack2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#faq {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;

    background-color: var(--color-terceary);
    color: var(--color-background);
    height: 90vh;
    width: 100%;
}