@import url("global.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

/*! BODY THINGS  */
body {
    background-color: var(--color-background);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    ;

    font-family: 'Inter', sans-serif;
}

/*? FINISH BODY THINGS */

/*! SCROOLBAR THINGS  */
::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
}

/*? FINISH SCROOLBAR THINGS */

/*! HEADER THINGS */
header {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    background-color: var(--color-header);

    height: 8vh;
    width: 100%;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    width: 95%;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.header-icons {
    display: flex;
    flex-direction: row;

    height: 80%;

    align-items: self-end;
    gap: 20px;
}

.hlink {
    text-decoration: none;
    color: var(--color-terceary);

    font-size: clamp(0.7rem, 1.1rem, 1.3rem);
    font-weight: 500;
}

.faq-text {
    background-color: var(--color-secundary);
    text-align: center;
    border-radius: 0.25vw;

    clip-path: polygon(12% 0,
            /* corte no canto superior esquerdo */
            100% 0,
            /* canto superior direito normal */
            100% 100%,
            /* inferior direito */
            0 100%,
            /* inferior esquerdo */
            0 30%
            /* volta até iniciar o corte */
        );


    padding: 4px 30px 0 6px;
    color: var(--color-background);
}

.link-start {
    font-size: clamp(1.5vw, 2vw, 3vw);
}

/*? FINISH HEADER THINGS */

/*! MAIN DEFINITIONS */
main {
    display: flex;
    flex-direction: column;
}

/*? FINISH MAIN DEFINITIONS */

/*! SECTION START THINGS */
#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 8vh;

    height: 92vh;
    width: 100%;
}

.start-content {
    display: flex;
    justify-content: space-between;

    width: 95%;
    height: 70%;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    justify-content: start;

    height: 100%;
    margin-top: 5%;
}

.title {
    font-weight: 800;
    font-size: clamp(2rem, 5vw, 3.5rem);
}

.title2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.my-anim {
    width: auto;
    height: auto;
}

h2 {
    color: var(--color-secundary);
}

/*? FINISH SECTION START THINGS */

/*! SECTION ABOUT THINGS */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 95%;
    height: 70%;
}

.text-about {
    font-weight: 550;
    font-size: clamp(0.6vw, 1.5vw, 4vw);
}

.img-pieces {
    display: flex;
    justify-content: center;

    width: 100%;
}

/*? FINISH SECTION ABOUT THINGS */

/*! SECTION PROJECTS THINGS */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

/*? FINISH SECTION PROJECTS THINGS */

/*! SECTION STACK THINGS */
#stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;

    height: 100vh;
    width: 100%;
}

.stack1-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 95%;
    height: 70%;
}

.stack1-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 90%;
    width: 100%;
}

.stack1-items-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    gap: 10px;
    width: 50%;
    height: 60%;

    list-style-type: none;
}

/*? FINISH SECTION STACK THINGS */

/*! SECTION STACK2 THINGS */
#stack2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    height: 100vh;
    width: 100%;
}

.stack2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 95%;
    height: 70%;
}

.stack2-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    height: 90%;
    width: 100%;
}

.stack2-items-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    gap: 10px;
    width: 50%;
    height: 60%;

    list-style-type: none;
}

/*? FINISH SECTION STACK2 THINGS */

/*! ALL STACK ICONS CONFIGS */
.icon-stack {
    display: flex;
    flex: 0 0 calc(25% - 10px);
    height: 50%;

    box-shadow: var(--color-terceary) 0px 2px 8px 0px;
    align-items: center;
    justify-content: center;

    border-radius: 10%;
    background-color: var(--color-background);
}

.icon-stack-void {
    display: flex;
    flex: 0 0 calc(25% - 10px);
    height: 40%;
}

/*? FINISH ALL STACK ICONS CONFIGS */

/*! SECTION FAQ THINGS */
#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 92vh;
    width: 100%;
}

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 1vw;
    box-shadow: var(--color-terceary) 0px 2px 5px 0px;

    width: 95%;
    height: 70%;
}

.link-up {
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;

    width: 95%;
    height: 0%;
}

.title-text-session {
    display: flex;
    width: 35%;
    height: 100%;
    align-items: start;
    justify-content: center;
}

.faq-text2 {
    background-color: var(--color-secundary);
    text-align: center;
    border-radius: 0.5vw;

    clip-path: polygon(10% 0,
            100% 0,
            100% 100%,
            0 100%,
            0 35%);


    padding: 2px 120px 0px 50px;
    color: var(--color-background);
}

.faq-items {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;


    width: 95%;
    height: 60%;
}

.list-questionary-faq {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    width: 50%;
    height: 80%;
}

.questions-faq {
    width: 60%;
    height: 30%;
    padding: 8px;

    box-shadow: var(--color-terceary) 0px 2px 5px 0px;
    align-items: center;
    justify-content: center;

    border-radius: 0.5vw;
    background-color: var(--color-background);
}

.link-start {
    position: absolute;

    position: fixed;
    bottom: 40px;
    right: 20px;

    z-index: 101;
    padding: 5px 15px 7px 15px;
    border-radius: 100%;

    text-align: center;

    color: var(--color-background);
    background-color: var(--color-secundary);
}

.fa-solid {
    font-size: 1.7vw;
}

/*? FINISH SECTION FAQ THINGS */

/*! FOOTER THINGS  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0 14%);

    z-index: inherit;

    anchor-name: --footer;

    height: 105vh;
    width: 100%;

    background-color: var(--color-terceary);
    color: var(--color-background);
}

.contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 70%;
}

.contact-text {
    font-size: clamp(8vw, 10vw, 12rem);

    anchor-name: --contact-text;
}

.contact-social-buttons {
    display: flex;
    flex-direction: row;

    position: absolute;
    position-anchor: --contact-text;
    right: anchor(right);
    translate: 0 100%;
    z-index: 999;

    gap: 6vw;

    width: auto;
    height: auto;
}

.icon-contact {
    width: clamp(3vw, 5vw, 6vw);
    height: auto;

    box-shadow: var(--color-terceary) 0px 2px 5px 0px;
    position: absolute;
}

/*? FINISH FOOTER THINGS */


/*! RESPONSIVITY THINGS */
@media screen and (max-width: 400px) {
    .header-icons {
        display: none;
    }

    .my-anim {
        display: none;
    }

    #start {
        height: 100vh;
        width: 95%;
    }

    .pieces {
        height: auto;
        max-width: 80%;
    }


}